    
  /* used for styling the left margin into a solid color*/  
  body{
    margin: 0 auto;
  }
  
  #top-margin{
    background-color: black;
    height: 10%;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #linkedin-url{
    text-align: left;
    font-size: large;
    color: aliceblue;
  }

  #Instagram-url{
    text-align: left;
    font-size: large;
    color: aliceblue;
    margin-left: 20px;
  }

  #left-margin{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 150px;
    background-color: black;
    z-index: -1;
  }
    
   .header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 85%;
   }
   .profile-pic{
    background-image: url('Familyphoto.jpg');
    background-size: 90% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 40%; /* Width of the background image area */
    height: 100%;
    margin-left: 150px;
   }

   h1{
    text-align: left;
    font-size: 150px;
    width: 60%; /* Width of the text area */
    margin-left: 10px; /* Optional: Adjust for spacing between image and text */

   }
   
    
    .main-content{
        text-align: center;
        font-size: 30px;
        color: black;
        background-color: whitesmoke;
    }


.dropdown {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 30px;
  color: whitesmoke;
  height: 40px;
  
  background-color: rgb(61, 58, 58);
}


.dropdown-content{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(61, 58, 58);;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
  border: 1px solid #817c7c;
  text-align: center;
  margin-top: 50px;
  max-width: 75%;
}
.dropdown button {
  background-color: rgb(61, 58, 58);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#Personal-biography{
  font-size: 50px;
  margin: 0;
  padding: 0;
  line-height: 1;
}

p {
  
  margin: 1px;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  font-family: Arial, sans-serif;
}